body {
     background-color: coral;
        
}
nav a {
    color: red;
}

#current-link {
 text-decoration: none;   
}

.uppercase {
    text-transform: uppercase;
    front-size: 46px;
}

img {
    width: 250px;
    height: auto;
}

h1{
    border: 2px dashed black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 300px;
}